body{
	margin: 0px;
	font-family: "Helvetica"
}
.fb-header{
	height: 82px;
	width: 100%;
	font-size: 13px;
	background-image: linear-gradient(#4e69a2, #3b5998 50%);
    border-bottom: 1px solid #133783;
}
.inner-header{
	margin: 0 auto;
	height: 100%;
	width: 980px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 5px
}
.fb-header-logo{
	width: 170px;
	height: 32px;
}
.login-grid{
	height: 70px;
	width: 400px;
	display: grid;
	grid-template-columns: 150px 150px 55px;
	grid-template-rows: 25px 20px 25px;
	grid-column-gap: 17px;
}
.login-grid span{
	grid-column: 2/3;
	grid-row: 3/4;
	align-self: center;

}
.login-grid a{
	color: #9cb4d8;
	text-decoration: none;
}
.login-grid a:hover{
	text-decoration: underline;
}
.email-label{
	grid-column: 1/2;
	grid-row: 1/2;
	align-self: center;
}
.email-input{
	grid-column: 1/2;
	grid-row: 2/3;
}
.pass-label{
	grid-column: 2/3;
	grid-row: 1/2;
	align-self: center;
}
.pass-input{
	grid-column: 2/3;
	grid-row: 2/3;
}
.login-grid button{
	grid-column: 3/4;
	grid-row: 2/3;
	background-color: #4267b2;
 	padding: 3px 5px;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid #29487d;
}
.a-link-mame{
	color: white;
	text-decoration: none;
}


.w-nav-100{
	width: 100% !important;
}

.sticky-navbar{
	position: sticky;
    top: 0;
	z-index: 1000;
}
